In [1]:
import sys
sys.version

'3.9.18 (main, Aug 24 2023, 18:16:58) \n[Clang 15.0.0 (clang-1500.0.40.1)]'

In [11]:
# list of squares for numbers from 1 to 5.
squares = [x**2 for x in range(1, 6)]

In [3]:
squares

[1, 4, 9, 16, 25]

In [8]:
list(map(lambda x: x**2, range(1, 6)))

[1, 4, 9, 16, 25]

In [12]:
# tuple of squares for numbers from 1 to 5.
squares_tup = tuple(x**2 for x in range(1, 6))

In [13]:
squares_tup

(1, 4, 9, 16, 25)

In [14]:
squares_tup.pop(0)

AttributeError: 'tuple' object has no attribute 'pop'

In [15]:
squares.pop(0)

1

In [16]:
squares

[4, 9, 16, 25]

In [17]:
(x**2 for x in range(1, 6))

In [18]:
next(x**2 for x in range(1, 6))

1

In [19]:
next(x**2 for x in range(1, 6))

1

In [20]:
iterator = (x**2 for x in range(1, 6))
next(iterator)

1

In [21]:
next(iterator)

4

In [22]:

next(iterator)

9

In [23]:
list(x**2 for x in range(1, 6))

[1, 4, 9, 16, 25]

In [24]:

[x**2 for x in range(1, 6)]

[1, 4, 9, 16, 25]

In [26]:
# dict of squares for numbers from 1 to 5.
squares_dict = {x: x**2 for x in range(1, 6)}

squares_dict

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [27]:

# dict from 2 lists
names = ["Alice", "Bob", "Charlie"]
ages = [24, 30, 28]
name_age_dict = {name: age for name, age in zip(names, ages)}

In [28]:
name_age_dict

{'Alice': 24, 'Bob': 30, 'Charlie': 28}

In [29]:
zip(names, ages)

In [30]:
next(zip(names, ages))

('Alice', 24)

In [34]:
[(name, age) for name, age in zip(names, ages)]

[('Alice', 24), ('Bob', 30), ('Charlie', 28)]

In [35]:

[args for args in zip(names, ages)]

[('Alice', 24), ('Bob', 30), ('Charlie', 28)]

In [36]:

list(zip(names, ages))

[('Alice', 24), ('Bob', 30), ('Charlie', 28)]

In [39]:
# list of even squares from 1 to 10.
even_squares = [x**2 for x in range(1, 11) if x % 2 == 0]

In [42]:
even_squares

[4, 16, 36, 64, 100]

In [47]:
a = [1, 2, 2,3 ,4 ,4 ]
a = [item for item in a if item == 2]
a

[2, 2]

In [50]:

# list of numbers from 1 to 20 that are divisible by 2 or 3.
divisible_by_2_or_3 = [x for x in range(1, 21) if (x % 2 == 0) or (x % 3 == 0)]

In [51]:
divisible_by_2_or_3

[2, 3, 4, 6, 8, 9, 10, 12, 14, 15, 16, 18, 20]

In [52]:
# dict from a list of numbers where the key is the number and the value is "even" or "odd".
odd_even_dict = {x: "even" if x % 2 == 0 else "odd" for x in range(1, 6)}
odd_even_dict

{1: 'odd', 2: 'even', 3: 'odd', 4: 'even', 5: 'odd'}

In [56]:
x = 283811

"even" if x % 2 == 0 else "odd"

'odd'

In [57]:
# dict with word lengths for words longer than 3 characters.
words = ["hello", "world", "python", "is", "awesome"]
word_length_dict = {word: len(word) for word in words if len(word) > 3}
word_length_dict

{'hello': 5, 'world': 5, 'python': 6, 'awesome': 7}

In [58]:
# a flat list from a matrix (list of lists), containing only the elements that are not divisible by 2.
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
flat_list = [item for sublist in matrix for item in sublist if item % 2 != 0]
flat_list

[1, 3, 5, 7, 9]

In [59]:
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [61]:
[item for sublist in matrix for item in sublist if item > 3]

[4, 5, 6, 7, 8, 9]

In [75]:
# dict where keys are indices of prime numbers in a given list and values are the prime numbers themselves.
from math import sqrt

numbers = range(2, 50)
prime_numbers = {
    i: num
    for i, num in enumerate(numbers)
    if all(num % d != 0 for d in range(2, int(sqrt(num)) + 1))
}
prime_numbers

{0: 2,
 1: 3,
 3: 5,
 5: 7,
 9: 11,
 11: 13,
 15: 17,
 17: 19,
 21: 23,
 27: 29,
 29: 31,
 35: 37,
 39: 41,
 41: 43,
 45: 47}

In [79]:
for things in enumerate(numbers):
    print(things)

(0, 2)
(1, 3)
(2, 4)
(3, 5)
(4, 6)
(5, 7)
(6, 8)
(7, 9)
(8, 10)
(9, 11)
(10, 12)
(11, 13)
(12, 14)
(13, 15)
(14, 16)
(15, 17)
(16, 18)
(17, 19)
(18, 20)
(19, 21)
(20, 22)
(21, 23)
(22, 24)
(23, 25)
(24, 26)
(25, 27)
(26, 28)
(27, 29)
(28, 30)
(29, 31)
(30, 32)
(31, 33)
(32, 34)
(33, 35)
(34, 36)
(35, 37)
(36, 38)
(37, 39)
(38, 40)
(39, 41)
(40, 42)
(41, 43)
(42, 44)
(43, 45)
(44, 46)
(45, 47)
(46, 48)
(47, 49)

In [80]:
num = 17
range_list = list(range(2, int(sqrt(num)) + 1))
print(range_list)

all(num % d != 0 for d in range_list)

[2, 3, 4]

True

In [83]:
17 / 4

4.25

In [88]:
all(i for i in range(5))

False

In [89]:

all([i for i in range(5)])

False

In [91]:
# dict where each key is the first letter of a word and the value is a list of words starting with that letter.
words = ["apple", "bat", "bar", "atom", "book"]
grouped_words = {
    k: [word for word in words if word[0] == k]
    for k in set(word[0] for word in words)
}
grouped_words

{'b': ['bat', 'bar', 'book'], 'a': ['apple', 'atom']}

In [107]:
first_letters = [word[0] for word in words]
first_letters

['a', 'b', 'b', 'a', 'b']

In [109]:
set(first_letters)

{'a', 'b'}

In [110]:

set(word[0] for word in words)

{'a', 'b'}

In [111]:
max(i for i in range(19))

18

In [112]:

min(i for i in range(19))

0

In [113]:
# dictionary mapping each name to their score only if the score is above a threshold
data = [("Alice", 88), ("Bob", 75), ("Charlie", 90), ("Dave", 65)]
threshold = 80
score_dict = {
    f"{name}_{i}": score for i, (name, score) in enumerate(data) if score > threshold
}
score_dict

{'Alice_0': 88, 'Charlie_2': 90}

In [115]:
a = "dusifh"
b = 28

f"{a}_{b:.2f}"

'dusifh_28.00'

In [116]:

f"{a.upper()}_{b:.2f}"

'DUSIFH_28.00'

In [117]:

f"{f'{a.upper()}'}_{b:.2f}"

'DUSIFH_28.00'

In [118]:

f"{f'{a.upper()}\n'}_{b:.2f}"

SyntaxError: f-string expression part cannot include a backslash (2811504567.py, line 1)

In [119]:

f"{a.upper()+'\n'}_{b:.2f}"

SyntaxError: f-string expression part cannot include a backslash (93574801.py, line 1)

In [122]:
for i, (name, score) in enumerate(data):
    print(name, score)

Alice 88
Bob 75
Charlie 90
Dave 65

In [123]:
# dictionary where the outer keys are unique categories from the original list, the inner keys are items filtered by a condition, and the values are transformed by a lambda function
records = [
    {"category": "A", "value": 10},
    {"category": "B", "value": 15},
    {"category": "A", "value": 20},
    {"category": "B", "value": 25},
]
transformed = {
    k: {
        (d["value"], i): (lambda x: x**2)(d["value"])
        for i, d in enumerate(records)
        if d["category"] == k and d["value"] > 10
    }
    for k in set(d["category"] for d in records)
}

In [124]:
records

[{'category': 'A', 'value': 10},
 {'category': 'B', 'value': 15},
 {'category': 'A', 'value': 20},
 {'category': 'B', 'value': 25}]

In [125]:
transformed

{'B': {(15, 1): 225, (25, 3): 625}, 'A': {(20, 2): 400}}

In [126]:
{(2, 4): "what the hell"}

{(2, 4): 'what the hell'}

In [127]:
a =  {(2, 4): "what the hell"}
a[(2, 4)]

'what the hell'

In [170]:
hash((2, 4))

3516302870623680066

In [172]:
from dataclasses import dataclass

@dataclass
class Item:
    cost: str
    name: str
        
    def __hash__(self):
        return hash(self.name)
        
kale = Item(cost=2.45, name="kale")
apple = Item(cost=0.5, name="apple")

In [173]:
cart = [kale, kale, apple]

In [174]:
hash(kale)

443441884163737333

In [175]:
cart

[Item(cost=2.45, name='kale'),
 Item(cost=2.45, name='kale'),
 Item(cost=0.5, name='apple')]

In [176]:
item_counts = {item: len([i for i in cart if i == item]) for item in cart}

In [177]:
item_counts

{Item(cost=2.45, name='kale'): 2, Item(cost=0.5, name='apple'): 1}

In [178]:
item_counts[kale]

2

In [182]:
(lambda x: x**2)(0)

0

In [183]:
func = lambda x, y: x * y

In [184]:
func(1, 2)

2