# My notebook

In [5]:
a = "disfi"

In [7]:
1238 + 21837

23075

In [8]:
from collections import namedtuple

In [9]:
Fruit = namedtuple("Fruit", ["name", "cost", "healthy", "rating"])

In [10]:
Fruit

__main__.Fruit

In [11]:
apple = Fruit("apple", .28, True, None)

In [12]:
apple

Fruit(name='apple', cost=0.28, healthy=True, rating=None)

In [13]:
apple.name

'apple'

In [14]:
type(apple.name)

str

In [15]:
bool(apple.name)

True

In [16]:
bool("")

False

In [19]:
if apple.name:
    print(apple.name)
else:
    print("Has no name!")

apple

In [23]:
a = [1, 2, 3]

In [24]:
b = a

In [25]:
b

[1, 2, 3]

In [26]:
a.append(312)

In [27]:
b

[1, 2, 3, 312]

In [28]:
b = a.copy()

In [29]:
a.append("sdifj")

In [30]:
a

[1, 2, 3, 312, 'sdifj']

In [31]:
b

[1, 2, 3, 312]

In [32]:
record = {"person": "Alex", "generation": "Millennial"}
record

{'person': 'Alex', 'generation': 'Millennial'}

In [33]:
import json

def print_enriched_record(input_record: dict):
    input_record["is_gen_z"] = input_record.get("generation") == "Zoomer"
    print(json.dumps(input_record, indent=2))

print_enriched_record(record)

{
  "person": "Alex",
  "generation": "Millennial",
  "is_gen_z": false
}

In [34]:
record

{'person': 'Alex', 'generation': 'Millennial', 'is_gen_z': False}

In [35]:
import json
from copy import deepcopy

def print_enriched_record(input_record: dict):
    record = deepcopy(input_record)
    record["is_gen_z"] = record.get("generation") == "Zoomer"
    print(json.dumps(record, indent=2))

record = {"person": "Alex", "generation": "Millennial"}
print_enriched_record(record)

{
  "person": "Alex",
  "generation": "Millennial",
  "is_gen_z": false
}

In [36]:
record

{'person': 'Alex', 'generation': 'Millennial'}